* {
  text-decoration: none;
}

/*CSS Reset====================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Root Colors===========================*/
:root {
    --dark_brown:#2D1313;
    --light_green: #AAC9A3;
    --light_brown: #715555;
    --ollie_green: #4A9841;
    --dark_green: #59785B;
}

/*Navigation============================*/

nav{
    text-decoration: none;
    margin-top: 0;
    background: white;
    color: green;
    padding: 8px;
    margin: 10px;
    border-radius: 1px;
    font-family: "Aoboshi One", serif;
    font-weight: 400;
    font-style: normal;
    text-align: right;
    border-radius: 5px;
}

nav img{
  float: left;
}

nav a {
text-decoration: none; color:#000;
}

/*==================================*/
body h1{
    color: #2D1313;
    font-size: 80px;
    font-family: "Rowdies", sans-serif
}

p {
    font-family: "Aoboshi One", serif;
}

/*Home=================================*/

.index {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.index p {
  background: var(--dark_green);
    color: var(--dark_brown);
    padding: 15px;
    border-radius: 5px;
}

/*About================================*/
.about p {
 background: var(--dark_green);
    color: white;
    padding: 20px;
    margin: 30px;
}

.AboutBox {
  padding: 20px 40px 40px;
  display: flex;
}

.AboutColumn {
  display: flex;
  flex-direction: column;
}

.about h1 {
  text-align: right;
  padding: 0px;
  margin: 0px;
}

/*Page Portfolio/Classwork==================*/
.container {
  text-align: center;
  left: 0;
  right: 0;
  display: grid;
  padding: 10px;
  }

  .classbox {
  height: 25px;
  padding: 0px; /* space inside the box */
  margin: 36px;  /* space outside the box */
  background-color: white;
  color: var(--dark_green);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: content-box; /* or border-box */
}

.portfoliobox {
  height: 25px;
  padding: 0;
  margin: 36px;  
  background-color: var(--dark_green);
  color: var(--dark_brown);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: content-box;
}

/*Footer==========================*/

footer {
    text-decoration: none;
    margin-top: 0;
    background: white;
    color: var(--dark_brown);
    padding: 8px;
    margin: 10px;
    border-radius: 1px;
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: right;
    border-radius: 5px;
}

footer p {
  float: left;
}

/*Background Color====================*/

html{
  background-color: var(--light_green);
}

/*CSS Comment*/

/* padding: space inside the box */
/* margin: space outside the box */
